$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-24:24px;
$font-32:32px;
$font-40:40px;
$font-48:48px;
$font-56:56px;
$font-64:64px;
$font-72:72px;

// 文字透明度
.text-op38{
    opacity: .38;
}
.text-op40{
    opacity: .4;
}
.text-op60{
    opacity: .6;
}
.text-op87{
    opacity: .87;
}
.w-65{
    width: 65% !important;
}
.w-35{
    width: 35% !important;
}
body{
    color:rgba(255, 255, 255, 0.87); 
    
}
ul,li{
    font-weight: 100;
}
h2,h3{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    letter-spacing: .15em;
}
h3{
    font-size: $font-40;
}
h4,h5{
    font-weight: 400;
    letter-spacing: .1rem;
}
ul,li{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}
img{
	width: 100% !important; 
	height: 100% !important;
	vertical-align: middle !important;
    object-fit: cover !important;
}
p,small{
    font-weight: 100;
    letter-spacing: .05rem;
}
a:hover{
        transition: .3s;
    }

 .btn{
        letter-spacing: .15rem !important;
    }

// .container{
//     border: 1px solid red;
// }
//             元件開始              //

// 按鈕
.btn-more{
    width: 300px;
    @include pad{
         width: 216px !important;
    }
    @include iphone{
        width: 100% !important;
    }
   
}
.btn-more:hover .icon-more{
    transform: translateX(16px);
    transition: .45s;
}
// 價格增加減少按鈕
.btn-outline-style{
        border: 1px solid rgba(255,255,255,.2);
    }
    .btn-outline-style:hover{
        background: none;
        color: $primary;
        border: 1px solid $primary;
    }
//圖片變黃色
.img-multiply{ 
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:$primary;
        mix-blend-mode: multiply; //ps色彩增值
        opacity: .0;
    }
// 色票
.color-box{
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255,255,255,.4);
}
.color-box-black{
    background: #000;
}
.color-box-brown{
    background: #4A1A08; 
}
.color-box-green{
    background: #122D0D; 
}
.color-box-purple{
    background: #2C0148;
}
// 勾選
.form-check-label{
    font-weight: 100 !important;
}

//             元件結束            //
